@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --surface-ground: #f8f9fa;
  --text-color: #343a40;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.p-menubar {
  border: none !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* --- Fix Mapa --- */
.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: #e9ecef;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    order: 3;
    margin-left: 0.5rem;
  }
  .p-menubar-end {
    margin-left: auto;
  }
}
.text-flag-esp {
  background: linear-gradient(
    to bottom,
    #ad1519 0%,
    #ad1519 30%,
    #fabd00 30%,
    #fabd00 70%,
    #ad1519 70%,
    #ad1519 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 800;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

/* Forzar ancho completo en inputs de contraseña */
.p-password,
.p-password input {
  width: 100% !important;
}

@font-face {
  font-family: 'MiFuente';
  src: url('./fuente.woff2') format('woff2');
  font-display: swap; /* <--- AÑADE ESTO OBLIGATORIAMENTE */
}
